<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {{{title}}}
  <link rel="stylesheet" href="/css/main.css" media="screen">
  <meta name="description" content="Offering the beautiful Central Coast of California therapeutic massage, specializing in Ashiatsu Deep Massage and Deep Tissue Massage.">
  <meta name="keywords" content="Central Coast Massage, San Luis Obispo Massage, SLO Massage, Deep Tissue Massage SLO, Deep Tissue Massage San Luis Obispo, Ashiatsu Deep Tissue Massage, Ashiatsu Massage, Ashiatsu SLO, Ahiatsu Oriental Bar Therapy, Swedish Massage, Deep Tissue Massage, Massage, San Luis Obispo, CA, SLO">
</head>

<body>
  <!-- shared header -->
  <header class="page-header">
  <div class="header-wrapper">
  <div class="header-no-menu">
  <div class="header-zone-1">
    <div class="header-zone-wrapper">
      <a class="logo" href="/"><img src="/images/EVM_logo_with_tag.png"
          alt="Edna Valley Massage Home"
          width="330px" /></a>
    </div>
  </div>
  <div class="header-zone-2">
    <div class="header-zone-wrapper">
      <div class="phone">
        <a class="phone" href="tel:8054405899">805.440.5899</a>
      </div>
        <div class="address" href="https://www.google.com/maps/place/825+El+Capitan+Way+%2318a,+San+Luis+Obispo,+CA+93401/@35.2461769,-120.6433814,17z/data=!3m1!4b1!4m5!3m4!1s0x80ecf6b638c93559:0x8f6b61c45a5ad8fb!8m2!3d35.2461725!4d-120.6411927" target="_blank">
        <span class="line1">825 El Capitan Way, Ste 18A (3<sup>rd</sup> flr)</span><br><span class="line2">San Luis Obispo, CA</span></a>
      </div>
      <div class="social-media-links">
        <span class="social-media-links">
          <a id="facebook-icon" title="Connect with Edna Valley Massage on Facebook"
          href="https://www.facebook.com/ednavalleymassage/" target="_blank"><img alt="facebook" src="/images/facebook_icon.png" width="40px" /></a>
          <a id="yelp-icon" title="Check out our five-star reviews on Yelp!"
          href="https://www.yelp.com/biz/edna-valley-massage-san-luis-obispo" target="_blank"><img alt="yelp" src="/images/yelp_icon.png" width="40px" /></a>
          <a id="mindbody-icon" title="Book an appointment now on the Mindbody Online site"
          href="https://clients.mindbodyonline.com/asp/adm/adm_appt_search.asp?studioid=265981&fl=true&tabID=9" target="_blank"><img alt="mindbody" src="/images/mindbody_icon.png" width="40px" /></a>
        </span>
      </div>
    </div>
  </div>
  <div class="header-zone-3">
    <div class="header-zone-wrapper">
      <div class="button">
        <a class="button" href="https://clients.mindbodyonline.com/asp/adm/adm_appt_search.asp?studioid=265981&fl=true&tabID=9" target="_blank"><button id="bookNow" class="header">Book Now</button></a>
      </div>
      <div class="hours">
        <div class="header-header">Hours of Operation:</div>
        <div class="hours">Mon-Fri 9am-8pm</div>
        <div class="hours">Sat/Sun 10am-5pm</div>
      </div>
      <div class="contact">
        <a class="contact" href="mailto:ednavalleymassage@gmail.com" title="Contact Us">Contact Us</a>
      </div>
    </div>
  </div>
  </div>
  <div class="nav-wrapper">
    <ul class="menu">
      <li><a class="nav-menu" href="/about" title="About">About</a></li>
      <li><a class="nav-menu" href="/services" title="Services">Services</a></li>
      <li><a class="nav-menu" href="/ashi" title="Ashiatsu Deep">Ashiatsu</a></li>
      <li><a class="nav-menu" href="/contact" title="Contact Us">Contact Us</a></li>
      <li><a class="nav-menu" href="https://clients.mindbodyonline.com/asp/main_shop.asp?pMode=2&tabID=3" target="_blank">Gift Certificates</a></li>
    </ul>
  </div>
  </div>
</header>

  {{{body}}}


  <!-- shared footer -->
  <footer class="page-footer">
  <div class="footer-content">
    <div class="footer-zone-wrapper">
  <div class="footer-zone-1">
      <div class="footer-contact">
        <a class="footer-header" href="/contact">Contact Us</a><br>
        <span class="footer-tel">Phone: </span><a class="footer-phone" href="tel:8054405899">805.440.5899</a><br>
        <div class="footer-header">General Questions</div>
        <div class="footer-email-link">
        <a class="footer-email" href="mailto:ednavalleymassage@gmail.com">EdnaValleyMassage@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="footer-zone-2">
      <div class="footer-hours">
        <span class="footer-header">Hours</span>
        <span class="footer-hours">Mon-Fri 10am-8pm</span>
        <span class="footer-hours">Sat/Sun 10am-5pm</span>
      </div>
      <div class="footer-apptOnly-msg">
        <p class="apptOnly">
          We work by appt only,
          <br>however same day appts
          <br>may be available.</p>
      </div>
  </div>
  <div class="footer-zone-3">
      <div class="footer-links">
        <span class="footer-header" id="info">Info</span>
        <ul class="footer-links-content">
          <li><a class="link" href="/about" title="About">About</a></li>
          <li><a class="link" href="/services" title="Services">Services</a></li>
          <li><a class="link" href="/ashi" title="Ashiatsu Deep">Ashiatsu Deep</a></li>
          <li><a class="link" href="/benefits" title="Benefits of Massage">Benefits of Massage</a></li>
          <li><a class="link" href="https://clients.mindbodyonline.com/asp/main_shop.asp?pMode=2&tabID=3" target="_blank" title="Buy a Gift Certificate">Gift Certificates</a></li>
          <li><a class="link" href="/contact" title="Contact Us">Contact Us</a></li>
        </ul>
      </div>
  </div>
    </div>
  <div class="footer-footer">
    <div class="footer-footer-wrapper">
      <p class="copyright">© 2017 Edna Valley Massage</p>
    </div>
  </div>
  </div>
</footer>


</body>
</html>
