<!doctype html>
<html>

<head>
	<title>About Us | Edna Valley Massage</title>
	<link rel="stylesheet" href="/css/main.css" media="screen">

</head>

<body>
	<h1 id="page_header">About Us</h1>
	<br>
	<div class="footMassage-block">
		<img class="footMassage" alt="Lizz Massaging" src="/images/lizz_massaging_foot.jpg" width="200px"/>
	</div>
	<br>
	<div class="ourStory">
		<h3>Our Story</h3>
		<p>Edna Valley Massage was started in 2013 by Lizz Premer. Located on the beautiful Central Coast of California. With a history of my own medical issues, I have developed a compassion for the body that allows me to tune into each body as I am working on it. Having already spent nearly 15 years with Rheumatoid Arthritis (more than half of my lifetime), I have embraced the healing that can be achieved through massage therapy. The best part is, it's safe enough to work with medication. As scientific research is now proving, physical, psychological, emotional, and spiritual components are all connected. A massage assists your body in bringing these components back into balance.<br><br>

I was educated in the Massage Practitioner and Massage Therapist programs at California Holistic Institute in San Luis Obispo, CA, and received my certification through California state in May 2012. I added Ashiatsu Deepfeet Massage Therapy Certification to my repertoire September 2015.<br><br>

I love what I do. Don't wait for pain to take over your life; let me help you bring healing back into your life.</p>
	</div>
	<br>
	<br>
</body>
</html>
