<head>
	<title>What is Ashiatsu? | Edna Valley Massage</title>
	<link rel="stylesheet" href="/css/main.css" media="screen">
</head>

<body>
	<h1 id="page_header">What is Ashiatsu Deep Tissue Anyway?</h1>
	<br>
	<div class="quote">
		<p>"... the deepest, most luxurious massage on the planet..." - Ruthie Hardee</p>
	</div>
	<br>
	<p>loads of ashi info include <a href="http://www.deepfeet.com/" target="_blank">deepfeet.com</a> link, link to benefits page, etc.</p>
	<br>
</body>
