<head>
    <title>Benefits of Massage | Edna Valley Massage</title>
    <link rel="stylesheet" href="/css/main.css" media="screen">

</head>

<body>
<h1 id="page_header">Benefits of Massage</h1>

<br>
<p>unordered list of benefits</p>
<ul>
    <li>here</li>
    <li>here</li>
    <li>here</li>
    <li>here</li>
    <li>here</li>
</ul>

</body>
