<head>
	<title>Contact Us | Edna Valley Massage</title>
	<link rel="stylesheet" href="/css/main.css" media="screen">
</head>

<body>
	<h1 id="page_header">Contact Us</h1>
	<br>

	<div id="email" a href="mailto: ednavalleymassage@gmail.com">EdnaValleyMassage@gmail.com</a></div>
	<div id="phone">Phone: (805)440-5899</div>
	<br>


	<img class="footMassage" src="images/studio_inside2.JPG" width="100px" />
	<br>
	<img class="footMassage" src="/images/lizz_massaging_foot.jpg" width="200px"/>
</body>
