<head>
	<title>Welcome to Edna Valley Massage</title>
	<link rel="stylesheet" href="/css/main.css" media="screen">
</head>

<body>

	<h1 id="page_header">Welcome to Edna Valley Massage</h1>

	<!-- picture carousel here -->
	<!-- code from W3Schools.com -->
	<div class="slideshow-container">
		<div class="mySlides fade">
			<img src="/images/ashi-beach-long.jpg" style="width:100%">
		</div>
		<div class="mySlides fade">
			<img src="/images/feet-on-back.JPG" style="width:100%">
		</div>
		<div class="mySlides fade">
			<img src="/images/studio_inside1.JPG" style="width:100%">
		</div>
	</div>
	<br>

	<div class="dots">
		<span class="dot"></span> 
		<span class="dot"></span> 
		<span class="dot"></span> 
	</div>  
	<br>

	<div class="toScroll">
		<p>When our mouth is dry, we quench it. When our tummy has the rumblies, we feed it. So, when our muscles ache, why don't we make a better effort to treat them with the immediacy and necessity that they require? My hope is that a visit to my studio will allow you access to the healing a massage can facilitate. Whether you're in pain, or simply want to feel pampered, each session incorporates steamy hot body compresses, and the highest quality essential oils, encouraging you to relax your mind, rejuvenate your soul, and renew your spirit.
<br><br>

Customized to your body, my massages are intended to unwind your tension, calm your anxieties, and allow you to let the world go for the length of your session. You will experience a customized blend of different techniques influenced by Swedish, Deep Tissue, Trigger Point Therapy, Sports Massage, and Reflexology to provide effective sessions that will benefit you every time. If you're looking for really deep tissue work, try our Ashiatsu Deep Massage.
<br><br>

So the next time your body says it needs some TLC, why don't you try massage therapy? I'd love to help you explore the incredible benefits it has to offer.</p>
<br><br>

		<!-- download file button -->
		<a href="/Intake_Form_2017-AUG_EdnaValley.pdf" target"_blank">Download Client Intake Form</a>
		
		<div id="benefits" class="links"><a href="/benefits">Benefits of Massage</a></div>
			<br>
    		</div>
    	</div>
	<br>
    	<br>


	<script src="/js/main.js"></script>
</body>
