<head>
    <title>Services Offered | Edna Valley Massage</title>
    <link rel="stylesheet" href="/css/main.css" media="screen">

</head>

<body>
    <h1 id="page_header">Services</h1>

    <div id="service-header">Our Specialties:</div>
    <ul>
        <li a href="#ashi">Ashiatsu Deep Tissue</a></li>
        <li a href="#deep">Deep Tissue</a></li>
        <li a href="#mbo">Mindbody Exclusives</a></li>
    </ul>
    <div id="service-header">Other services offered:</div>
    <ul>
        <li a href="#swedish">Swedish Massage</a></li>
        <li a href="#prenatal">Prenatal Massage</a></li>
        <li a href="#minor">Under 18 years old</a></li>
        <li a href="#outcall">Outcall Massage</a></li>
        <li a href="#couples">Couples Massage</a></li>
    </ul>

    <br>
    <div class="swedish-block">
	<span>SWEDISH MASSAGE</span>
	<div>You'll achieve pure relaxation during this massage. Features long fluid strokes to promote balance, improve circulation, relieve muscle tension,&nbsp;reduce stress,&nbsp;and reduce&nbsp;mild to moderate pain and chronic aches.</div>
	<br>
	<div>Pressure ranges from&nbsp;gentle-to-medium, incorporating hot body compresses, aromatherapy,&nbsp;scalp, foot, and facial massage. <em>Complement your massage with a Soothing Spa Facial for $10 more.</em></div>
	<br>
	<div><em><strong>60-min: $80<br />
			90-min: $110<br />
			120-min: $140</strong></em></div>
	<br>
	<div></a></strong></em><a href="http://clients.mindbodyonline.com/classic/ws?studioid=265981&amp;stype=-9&amp;sTG=2&amp;sView=week&amp;sLoc=1&amp;sTrn=2" target="_blank"><em><strong>Book it Online Here.</strong></em></a>

	<br>
	<br>
    <div class="deep-block">DEEP TISSUE MASSAGE</span></strong></div>
    <div><strong>This is my most requested service!</strong> This is not the &ldquo;deep tissue massage&rdquo; offered at most day spas... No fluff in this massage. It is both corrective and therapeutic, to help you achieve your ultimate wellness potential.</div>
	<br>

    <div>This massage focuses on your most overworked, sore and tired muscles. Revive your body so you can get on with your life!&nbsp;Intensive, integrated massage work using a variety of techniques and levels of pressure on whatever&nbsp;specific muscles are mistreating you the most.&nbsp;</span><em><span style="font-size: 12pt;">Upgrade to an Ashiatsu Deep Massage for a deeper, more therapeutic experience.</em></div>
	<br>

	<div><em><strong>60-min: $90<br />
			90-min: $120<br />
			120-min: $150</strong></em></div>
	<br>

	<div></strong></em><a href="https://clients.mindbodyonline.com/ASP/adm/adm_appt_search.asp?reSchedule=" target="_blank"><em><strong>Book it Online Here.</strong></em></a></div>

</body>
